<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.elexis.ungrad.tardoc"
            name="Tardoc">
      </category>
      <view
            category="ch.elexis.ungrad.tardoc"
            class="ch.elexis.ungrad.tardoc.views.TardocKonsView"
            icon="icons/tardoc.png"
            id="ch.elexis.ungrad.tardoc.views.TardocKonsView"
            inject="true"
            name="Tardoc">
      </view>
   </extension>
   <extension point="org.eclipse.ui.menus">
  		<menuContribution
        	locationURI="toolbar:ch.elexis.ungrad.tardoc.views.TardocKonsView">
        	<command
            	commandId="ch.elexis.core.ui.command.encounter.create"
            	icon="icon://IMG_NEW"
            	style="push">
        	</command>
    	</menuContribution>
	</extension>

</plugin>
