doctype html 
html(lang="de")
  head 
    meta(charset="utf-8")
    title Elexis A5 Vorlage 
    link(rel="stylesheet" href="styles_a5.css")
  body
    heading.heading 
      span.topleft [Doctitle] 
      span.topright [Datum.heute]
    main
      block content 
