<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.ungrad.forms.ui.Preferences"
            id="ch.rgw.elexis.ungrad.forms.prefs"
            name="Forms">
      </page>
   </extension>
<extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.ungrad.forms.ui.View"
            id="ch.rgw.elexis.ungrad.forms.ui.View"
            name="Formulare"
            icon="icons/form.png"
            restorable="true">
      </view>
   </extension>
</plugin>
