<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.rgw.elexis.docmgr_lucinda.view.GlobalView"
            icon="icons/lucinda.png"
            id="ch.rgw.elexis.docmgr-lucinda.mainView"
            name="Lucinda View"
            restorable="true">
      </view>
      <view
            class="ch.rgw.elexis.docmgr_lucinda.view.LucindaMessages"
            icon="icons/lucinda_msg.png"
            id="ch.rgw.elexis.docmgr-lucinda.msgView"
            name="Lucinda Nachrichten"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.rgw.elexis.docmgr_lucinda.view.LucindaPrefs"
            id="ch.rgw.elexis.docmgr-lucinda.prefs"
            name="Lucinda">
      </page>
   </extension>

</plugin>
