<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Ungrad QR Rechnung"
            outputter="ch.elexis.ungrad.qrbills.QR_Outputter">
      </Rechnung>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.ungrad.qrbills.preferences.QRCodePreferencePage"
            id="ch.elexis.ungrad.qrbills.preferences.PreferencePage"
            name="QR-Rechnung"
            category="ch.elexis.Leistungscodes">	
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.elexis.ungrad.qrbills.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
