<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Laboreingabe"
            icon="icons/report_edit.png"
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.ungrad.labenter.views.ManualLabEntry"
            id="ch.elexis.ungrad.labenter.views.manualentries">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		catogory="ch.elexis.LaborPref"
            class="ch.elexis.ungrad.labenter.preferences.PreferencePage"
            id="ch.elexis.ungrad.labenter.preferences.PreferencePage"
            name="Laboreingabe">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.elexis.ungrad.labenter.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
