<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.buchhaltung.kategorie"
            class="ch.elexis.buchhaltung.kassenbuch.KassenView"
            icon="icons/sparschwein.ico"
            id="ch.elexis.ungrad.kassenbuch"
            name="%Plugin_ViewName"/>
      <category
            id="ch.elexis.ungrad.buchhaltung.kategorie"
            name="%Plugin_CategoryName"/>
   </extension>
   <extension
         point="ch.elexis.core.data.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.buchhaltung.kassenbuch.ACLContributor"
            name="ch.elexis.Kassenbuch.ACLContribution"/>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.buchhaltung.kassenbuch.KassenbuchEintragFactory"
            name="Kassenbuch"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.ungrad.common.prefs"
            class="ch.elexis.buchhaltung.kassenbuch.KassenbuchPreferencePage"
            id="ch.elexis.buchhaltung.kassenbuch.preferences"
            name="%Plugin_PreferencesName">
      </page>
   </extension>

</plugin>
