<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.ungrad.labview.views.LaborView"
            id="ch.elexis.ungrad.labview.display"
            name="Labor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.ungrad.labview.views.PreferencePage"
            id="ch.ungrad.labview.preferencePage"
            name="Ungrad-Labview">
      </page>
   </extension>

</plugin>
