doctype html
// ElexisHtmlTemplate A5 
html(lang="de")
  head 
    meta(charset="utf-8")/
    title Doctitle 
    style
      include styles_a5.css
  body
    heading.heading 
      span.topleft Doctitle 
      span.topright [Datum.heute]
    main
      block content 
