<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.elexis.ungrad.labview.views.LaborView"
            icon="icons/lab24.png"
            id="ch.elexis.ungrad.labview.display"
            inject="true"
            name="Ungrad-LabView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.LaborPref"
            class="ch.elexis.ungrad.labview.views.PreferencePage"
            id="ch.ungrad.labview.preferencePage"
            name="Ungrad-Labview">
      </page>
   </extension>

</plugin>
