<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="ch.elexis.ungrad.common.ui.Preferences"
            id="ch.elexis.ungrad.common.prefs"
            name="Elexis Ungrad">
      </page>
         <page
               category="ch.elexis.ungrad.common.prefs"
               class="ch.elexis.ungrad.common.ui.ExtIdPreferences"
               id="ch.elexis.ungrad.extid.prefs"
               name="ExtInfo">
         </page>
   </extension>
</plugin>
