doctype html
html(lang="de")
  head
    meta(charset="utf-8")/
    title Doctitle
    style
      include styles_a4.css
  body
    #container
      div#header
        h1 Praxis [Mandant.Titel] [Mandant.Vorname] [Mandant.Name]
        span [Mandant.Strasse] [Mandant.Plz] [Mandant.Ort] Tel.:[Mandant.Telefon1] e-mail: [Mandant.E-Mail]
      hr/
      #date [Mandant.Ort], [Datum.heute]
      #sender [Mandant.Titel] [Mandant.Vorname] [Mandant.Name] 
        br/
        span Facharzt f체r [Mandant.TarmedSpezialit채t] 
        br/
        span ZSR-Nr. [Mandant.KSK]
      #address 
        p.absender [Mandant.Vorname] [Mandant.Name], [Mandant.Strasse] [Mandant.Plz] [Mandant.Ort]
        . 
          [Adressat.Anschrift]
        br/  
      block content
      div(data-mail="sender" style="display:none") praxis@eisenbart.hin
      div(data-mail="subject" style="display:none") [Patient.Name] [Patient.Vorname], [Patient.Geburtsdatum]
      div(data-mail="body" style="display:none")
        p Anbei die Zuweisung meine[Patient:mw:s Patienten/r Patientin] [Patient.Name] [Patient.Vorname]
        p Vielen Dank und freundliche Gr체sse
        p [Mandant.Vorname] [Mandant.Name<br/>Facharzt f체r Innere Medizin<br/>[Mandant.Strasse]<br/>[Mandant.Plz] [Mandant.Ort]<br/>[Mandant.Telefon1]
             
