extends a4 

block content
  #maintext(data-doctype="AnmeldungDu" data-doctitle="Anmeldung")
    p [Patient.Name] [Patient.Vorname], [Patient.Geburtsdatum]
      br/
      span [Patient.Strasse], [Patient.Plz] [Patient.Ort]
      br/
      span Tel: [Patient.Telefon1] [Patient.Natel] [Patient.Telefon2]
    p(data-anrede="true") Liebe[Adressat:mw:r/ ] [Adressat.Vorname]
    p Ich bitte dich um direktes Aufgebot [Patient:mw:des oben genannten Patienten/der oben genannten Patientin] zur fachärztlichen Untersuchung.

    h2 Problem 
    p(data-input="Problem")

    h2 Weitere Diagnosen 
    p(data-input="Diagnosen") [Patient.Diagnosen]

    h2 Medikation
    p(data-input="Medikation") [Patient.Medikation]

  #footer 
    p Vielen Dank und freundliche Grüsse 
    p [Mandant.Vorname]  
