<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.elexis.core.application.ElexisApp"
            name="Elexis Ungrad">
         <property
               name="appName"
               value="Elexis Ungrad">
         </property>
         <property
               name="aboutImage"
               value="rsc/logo_about250.png">
         </property>
         <property
               name="aboutText"
               value="Copyright (c) 2005-2016 by G. Weirich, elexis.info and others">
         </property>
         <property
               name="windowImages"
               value="rsc/elexis16.png,rsc/elexis32.png,rsc/elexis48.png">
         </property>
      </product>
   </extension>


</plugin>
