<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            localizedName="%invoiceOutputterName"
            name="qrprinter_ungrad"
            outputter="ch.elexis.ungrad.QR_Outputter.QrRnOutputter">
      </Rechnung>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.ungrad.common.prefs"
            class="ch.elexis.ungrad.QR_Outputter.BillPreferencePage"
            id="ch.elexis.ungrad.qr-outputter.prefs"
            name="%preferencesPageName">
      </page>
   </extension>

</plugin>
