doctype html 
html(lang="de")
  head 
    meta(charset="utf-8")
    title ElexisHtmlTemplate A5 
    style
      include styles_a5.css
  body
    heading.heading 
      span.topleft [Doctitle] 
      span.topright [Datum.heute]
    main
      block content 
