extends a5 
block content
  .leftrow 
    span(style="font-size:16px;font-weight:bold;") [Mandant.Titel] [Mandant.Vorname] [Mandant.Name]
    br
    span [Mandant.TarmedSpezialität]
    br
    span [Mandant.Strasse]
    br
    span [Mandant.Plz] [Mandant.Ort]
  .rightrow 
    table.header 
      tr 
        td Tel: 
        td [Mandant.Telefon1]  
      tr 
        td E-Mail: 
        td [Mandant.E-Mail]  
      tr 
        td ZSR: 
        td [Mandant.KSK]  
      tr 
        td GLN: 
        td [Mandant.EAN] 
  .payload 
    span Rp.
    .concern [Patient.Name] [Patient.Vorname], [Patient.Geburtsdatum]         
    .contents [Rezeptzeilen][zusatz]
    